# Dossier des dépendances Node.js dans le frontend
frontend/node_modules/

# Cache de Vite, React ou autre
frontend/dist/
frontend/.vite/

# Configs locales ou temporaires
*.log
*.env
*.env.local

# Ignorer les fichiers de l'éditeur (VS Code, JetBrains, etc.)
.vscode/
.idea/
